.nav-item {
    display: inline-block;
    
    }

.card {
width:200px;
height:200px;
margin: 10px;

}

.card-container {
flex-direction: wrap-reverse;
}


ul {
    position: absolute;
    right: 5%
}
