body {
    margin: 0px;
    padding: 0px;
}

.card {
   
    width: 200px;
    height: 200px;
    margin: 5px;
   
}

ul {
    position: absolute;
    right: 5%;
}



.text-secondary {
    color: gray;
}

.card-container  {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

